@media handheld {
	html, body {
		background: #fff;
		padding: 3px;
		color: #000;
		margin: 0;
		font-family: sans-serif;
	}
	
	#note {
		font-size:180px;
	}
	
	#scale {
		font-size:50px;
	}

	input[type=checkbox] {
		position:absolute;
		z-index:-1000; 
		left:-1000px; 
		overflow: hidden; 
		clip: rect(0 0 0 0); 
		height:1px; 
		width:1px;
		margin:-1px; 
		padding:0; 
		border:0;
		margin-top:10px;
	}
	
	input[type=checkbox] + label {
		padding-left:26px;
		height:21px; 
		display:inline-block;
		line-height:21px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:21px;
		vertical-align:middle;
		cursor:pointer;
	
	}
	
	input[type=checkbox]:checked + label {
		background-position: 0 -21px;
	}
	
	label {
		background-image:url(cb.png);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
		
	#main {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
		text-align:center;
		font-weight:bold;
	
		transition: margin-left .5s;
		padding: 20px;
	}
	
	#note {
		font-size:180px;
	}
	
	#scale {
		font-size:50px;
	}
	
	
	 /* The side navigation menu */
	.sidenav {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0;
		left: 0;
		background-color: #111; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		overflow-y: scroll;
		padding-top: 30px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		
		
		font-size: 25px;
		color: #f1f1f1;
		
		white-space:nowrap;
	}
	
	/* The navigation menu links */
	.sidenav a {
		padding: 8px 8px 8px 8px;
		text-decoration: none;
		color: #c1c1c1;
		transition: 0.3s;
	}
	
	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover, .offcanvas a:focus{
		color: #f1f1f1;
	}
	
	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	
	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	
	
	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	
		
}
